html,body {
    overflow-y: hidden;
    overflow-x: hidden;
    overflow: hidden !important;
}

::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}

canvas {
    overflow-x: hidden;
    overflow-y: hidden;
}
